/*
    Estilo – border-radius
    A propriedade border-style permite especificar o estilo e a cor dos elementos bordas.

• dotted #usada para especificar a cor da borda mas para funcionar a cor,
primeiro deve ser criado o estilo de borda.
• dashed 
• solid
• double 
• groove 
• ridge #
• inset
• Outset
*/

/*
    Estilo – margin
A margem não tem uma cor de fundo e é completamente transparente.
A margem superior, inferior, direita e esquerda pode ser alterada de forma independente
usando suas propriedades separadas.
margin-top:100px;
margin-bottom:100px;
margin-right:50px;
margin-left:50px;
*/

/*
Estilo – padding
A propriedade padding define o espaço entre o elemento e a borda
O espaçamento superior, inferior, direita e esquerda pode ser alterado de forma independente
usando suas propriedades separadas.
padding-top:25px;
padding-bottom:25px;
padding-right:50px;
padding-left:50px
*/