/*
WIDTH: Largura do elemento.
HEIGHT: Altura do elemento.

MAX-WIDTH: Largura máxima que o elemento pode ter.
MAX-HEIGHT: Altura máxima que o elemento pode ter.

MARGIN: Alinhar, espaçar, etc. 

TEX ALIG: Serve para alinhar textos.
*/